INVIDIOUS_INSTANCE=whatever.invidious.org
INVIDIOUS_TOKEN={"session": "...."}
MASTODON_ACCESS_TOKEN=uiwezhjhsbdfjhgsuewsj
MASTODON_BOT_INSTANCE=whatever.social
MONGODB_CONNECT=mongodb+src:.......................................
YOUTUBE_API_KEY=sdfkshdkfshkdfkshfkshkfhskdhfksdfk
RUN_AS_JOB=false